$grey: #777;
$purple:  #a600ff;


body {
  font: 400 16px/1.5 "Cutive Mono","Courier New",FangSong,STFangsong,"Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #111;
}

a.icon{
  text-decoration: none;
  margin: 0 20px;
}

#navbar {
  height: 50px;
}


.contact{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: row;
}

.github{
  color: purple;
}

.linkedin{
  color: #0084bf;
}

.codepen{
  color: #000;
}

.content {
  position: relative;
  max-width: 800px;
  padding: 32px 24px;
  margin: 0 auto;
  box-sizing: border-box;
}

.like-navbar {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #aaa;
  font-size: 18px;
}

.pure-menu-heading {
  text-transform: none;
  font-variant: small-caps;
  color: $grey;

  &:hover {
    color: #000;
  }
}

.pure-menu-link {
  font-variant: small-caps;

  &:focus {
    background-color: inherit;
  }

  &:hover {
    background-color: inherit;
    color: #000;
  }
}

.title {
  font-variant: small-caps;
  font-size: 24px;
  text-align: center;
}
