$grey: #666;
$purple: #a600ff;

body {
  font: 400 16px/1.5 "Cutive Mono","Courier New",FangSong,STFangsong,"Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #666;
}

a {
  text-decoration: none;
  color: #0085ff;

  &:hover{
    color: #000;
  }

  &.icon {
    margin: 0 20px;
  }
}

#navbar {
  height: 75px;
}

.resume {
  display: flex;
  justify-content: center;

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    padding: 10px;
    border: 1px solid;
    color: $grey;

    &:hover {
      border-color: #000;
      color: #000;
    }

    span {
      margin-left: 10px;
    }
  }
}

.view-more {
  padding-left: 40px;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: row;
  margin: 32px auto;
  padding: 32px 0;
}

.github {
  color: purple;
}

.linkedin {
  color: #0084bf;
}

.codepen {
  color: #000;
}

.content {
  position: relative;
  max-width: 750px;
  margin: 32px auto;
  padding: 0 50px;
  box-sizing: border-box;
}

.like-navbar {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #aaa;
  font-size: 18px;
  width: 100%;
  white-space: nowrap;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 3;
  box-sizing: border-box;
  background-color: #fff;
}

.pure-menu-heading {
  text-transform: none;
  font-variant: small-caps;

  &:hover {
    color: #000;
  }
}

.navbar-list {
  display: flex;
  flex-grow: row;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

.navbar-item {
  margin: 0 20px;
}

.navbar-link {
  color: $grey;
  font-variant: small-caps;

  &:focus {
    background-color: inherit;
  }

  &:hover {
    background-color: inherit;
    color: #000;
  }
}

.title {
  font-variant: small-caps;
  font-size: 24px;
  text-align: center;
}

.text-center {
  text-align: center;
}
